<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

        <bean id = "springQuizMaster" class = "mypack.SpringQuizMaster"/>
        <bean id = "strutsQuizMaster" class = "mypack.StrutsQuizMaster"/>
        <bean id = "quizMasterService" class = "mypack.QuizMasterService">
            <property name = "quizMaster">
             <ref local = "springQuizMaster"/>
             </property>
        </bean>
</beans>